# This file is used to install the required Python packages for the project.
# Use the command `pip install -r requirements.txt` to install all dependencies.
tomlkit==0.13.2
numpy==1.26.4
astropy==6.0.0
blinker==1.8.2
pydash==8.0.3
tzlocal==5.2
pyhocon==0.3.61
geomag==0.9.2015
