.git
.pytest_cache
.venv
.venv2
.DS_Store
__pycache__
device/__pycache__
device/config.toml
dist
build
seestar_alp.spec
ssc_win_bld.ps1
rotator.log*
docs/build
docs/refs
alpycadevice.code-workspace
skeletons/AlpycaDeviceSkeletons.code-workspace
alpyca.log*
docker/config.toml
docker/getopts_long
front/twilight_times.json

Seestar Alpaca API.json:Zone.Identifier
CometEls.txt
messages*.db