.git
.pytest_cache
.venv
.venv2
.DS_Store
__pycache__
device/__pycache__
rotator.log*
docs/build
docs/refs
alpycadevice.code-workspace
skeletons/AlpycaDeviceSkeletons.code-workspace
alpyca.log*
docker/config.toml
docker/getopts_long
