[Unit]
Description=SeeStar ALP communications
After=network-online.target
[Service]
User=<username>
Type=simple
Restart=always
WorkingDirectory=/home/<username>/seestar_alp
ExecStart=/usr/bin/python3 /home/<username>/seestar_alp/root_app.py
[Install]
WantedBy=network-online.target
