[Unit]
Description=SeeStar simple controller
After=seestar_device.service
[Service]
Type=simple
Restart=always
WorkingDirectory=/home/<username>/seestar_alp/front
ExecStart=/usr/bin/python3 /home/<username>/seestar_alp/front/app.py
[Install]
WantedBy=network-online.target
