<style>
  ::backdrop {
  {#background-image:#}{#linear-gradient(#}{#45deg,#}{#magenta,#}{#rebeccapurple,#}{#dodgerblue,#}{#green#}{#);#} background-color: rgba(75, 75, 75, 50%);
  {#backdrop-filter: blur(5px);#}{#opacity: 0.5;#}
  }

  #focusOptionsDialog {
    border-radius: 8px;
    border: none;
  }
</style>

<div id="focus-controls" class="position-relative">
  <div class="card card-body position-relative">
    <div class="d-flex py-1">
      <button class="btn btn-outline-primary me-3" hx-post="{{ root }}/command"
              hx-swap="none" hx-vals='{"command": "start_auto_focus"}'>
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
             fill="currentColor" class="bi bi-crosshair" viewBox="0 0 16 16">
          <path
            d="M8.5.5a.5.5 0 0 0-1 0v.518A7 7 0 0 0 1.018 7.5H.5a.5.5 0 0 0 0 1h.518A7 7 0 0 0 7.5 14.982v.518a.5.5 0 0 0 1 0v-.518A7 7 0 0 0 14.982 8.5h.518a.5.5 0 0 0 0-1h-.518A7 7 0 0 0 8.5 1.018zm-6.48 7A6 6 0 0 1 7.5 2.02v.48a.5.5 0 0 0 1 0v-.48a6 6 0 0 1 5.48 5.48h-.48a.5.5 0 0 0 0 1h.48a6 6 0 0 1-5.48 5.48v-.48a.5.5 0 0 0-1 0v.48A6 6 0 0 1 2.02 8.5h.48a.5.5 0 0 0 0-1zM8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
        </svg>
        Auto
      </button>

      <div>
        <button id="focus-extra-backward" class="btn btn-outline-secondary me-2"
                hx-post="{{ root }}/live/focus" hx-target="#current-focus-value" hx-vals='{"inc": -50}'>
          {% include 'partials/svg_extra_backward.html' %}
        </button>

        <button id="focus-backward" class="btn btn-outline-secondary me-2"
                hx-post="{{ root }}/live/focus" hx-target="#current-focus-value" hx-vals='{"inc": -10}'>
          {% include 'partials/svg_backward.html' %}
        </button>

        <span id="current-focus-value" class="me-2" hx-get="{{ root }}/live/focus" hx-trigger="load" sse-swap="focusMove">
          Some Focus Value
        </span>

        <button id="focus-forward" class="btn btn-outline-secondary me-2"
                hx-post="{{ root }}/live/focus" hx-target="#current-focus-value" hx-vals='{"inc": 10}'>
          {% include 'partials/svg_forward.html' %}
        </button>

        <button id="focus-extra-forward" class="btn btn-outline-secondary me-2"
                hx-post="{{ root }}/live/focus" hx-target="#current-focus-value" hx-vals='{"inc": 50}'>
          {% include 'partials/svg_extra_forward.html' %}
        </button>
      </div>
    </div>
  </div>
  <div class="position-absolute top-0 start-50 translate-middle">Focus</div>
</div>
