<ul class="nav nav-pills mb-3" id="actionTab">
    <li class="nav-item" role="presentation">
        <a href="{{ root }}/schedule/startup"
          class="nav-link {% if tab == "startup" %}active{% endif %}"
          id="startup-tab"
          type="button"
          aria-controls="startup"
          aria-selected="false">Startup
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a href="{{ root }}/schedule/wait-until"
           class="nav-link {% if tab == "wait-until" %}active{% endif %}"
           id="wait-until-tab"
           type="button"
           aria-controls="wait-until"
           aria-selected="false">Wait Until
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a href="{{ root }}/schedule/wait-for"
           class="nav-link {% if tab == "wait-for" %}active{% endif %}"
           type="button"
           aria-controls="wait-for"
           aria-selected="true">Wait For
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a href="{{ root }}/schedule/auto-focus"
           class="nav-link {% if tab == "auto-focus" %}active{% endif %}"
           type="button"
           aria-controls="auto-focus"
           aria-selected="false">Auto Focus
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a href="{{ root }}/schedule/lpf"
           class="nav-link {% if tab == "lpf" %}active{% endif %}"
           type="button"
           aria-controls="lpf"
           aria-selected="false">Light Pollution Filter
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a href="{{ root }}/schedule/dew-heater"
           class="nav-link {% if tab == "dew-heater" %}active{% endif %}"
           type="button"
           aria-controls="dew-heater"
           aria-selected="false">Dew Heater
        </a>
    </li>
    <li class="nav-item" role="presentation">
      <a href="{{ root }}/schedule/image"
         class="nav-link {% if tab == "image" %}active{% endif %}"
         type="button"
         aria-controls="image"
         aria-selected="false">Image
      </a>
    </li>
    <li class="nav-item" role="presentation">
        <a href="{{ root }}/schedule/mosaic"
          class="nav-link {% if tab == "mosaic" %}active{% endif %}"
          type="button"
          aria-controls="mosaic"
          aria-selected="false">Mosaic
        </a>
    </li>
    <li class="nav-item" role="presentation">
      <a href="{{ root }}/schedule/park"
         class="nav-link {% if tab == "park" %}active{% endif %}"
         type="button"
         aria-controls="park"
         aria-selected="false">Park Scope
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a href="{{ root }}/schedule/shutdown"
         class="nav-link {% if tab == "shutdown" %}active{% endif %}"
         type="button"
         aria-controls="shutdown"
         aria-selected="false">Shutdown
      </a>
  </li>
</ul>

