[
    {
        "card_name": "astro_mosaic",
        "card_friendly_name": "AstroMosaic",
        "template": "partials/astro_mosaic.html",
        "planning_page_enable": true,
        "planning_page_collapsed": false
    },
    {
        "card_name": "twilight_times",
        "card_friendly_name": "Twilight Times",
        "template": "partials/twilight_times.html",
        "planning_page_enable": true,
        "planning_page_collapsed": false
    },
    {
        "card_name": "astrospheric",
        "card_friendly_name": "Astrospheric",
        "template": "partials/astrospheric.html",
        "planning_page_enable": true,
        "planning_page_collapsed": false
    },
    {
        "card_name": "clear_dark_sky",
        "card_friendly_name": "Clear Dark Sky",
        "template": "partials/clear_dark_sky.html",
        "planning_page_enable": true,
        "planning_page_collapsed": false
    },
    {
        "card_name": "clear_outside",
        "card_friendly_name": "Clear Outside",
        "template": "partials/clear_outside.html",
        "planning_page_enable": true,
        "planning_page_collapsed": false
    }
]