<!doctype html>
<html lang="en" data-bs-theme="{{ webui_theme }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - SSC</title>
    <link href="/public/bootstrap.min.css" rel="stylesheet">
    <script src="/public/htmx.min.js"></script>
    <script src="/public/nipplejs.min.js"></script>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    {% block html_header %}{% endblock %}
</head>
<body>

{% include 'nav.html' %}
<main class="container my-5">
    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in flashed_messages %}
            <div class="alert alert-primary" role="alert">{{ message }}</div>
        {% endfor %}
        {% for message in messages %}
            <div class="alert alert-primary" role="alert">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>
</main>
<script src="/public/bootstrap.bundle.min.js"></script>
<script src="/public/main.js"></script>
</body>
</html>
