{% extends 'base.html' %}
{% block header %}
<div class="container mt-3">
	<p class="h1">{% block title %}Blind Polar Alignment{% endblock %}</p>
  <p id="alt_err">alt error (deg): </p>
  <p id="az_err">az  error (deg): </p>
</div>
<style>
  .garden {
    position: relative;
    width: 80%;
    border: 2px solid #ccc;
    border-radius: 10px;
    aspect-ratio : 1 / 1;
  }
  .crosshair-h {
    position: absolute;
    top: 50%;
    left: 0%;
    width: 100%;
    height: 0px;
    border: 1px solid #ccc;
    z-index: 5;
  }
  .crosshair-v {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 0px;
    height: 100%;
    border: 1px solid #ccc;
    z-index: 5;
  }
  .ball {
    position: absolute;
    width: 15px;
    background: red;
    border: 0px;
    padding: 0px;
    border-radius: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio : 1 / 1;
  }
  .circle_inner {
    position: absolute;
    z-index: 5;
    border: 2px solid #ccc;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio : 1 / 1;
    margin: 0
  }
</style>
{% endblock %}
{% block content %}
<div id="pa_target_div">
  <div id="pa_garden" class="garden">
    <div class="cow d-flex justify-content-center align-items-center" style="margin: unset; height: 100%">
      <div class="row d-flex justify-content-center align-items-center" style="margin: unset; width: 100%">
        <div id="pa_circle_inner" class="circle_inner" style="width: 10%"></div>
        <div id="pa_circle_inner" class="circle_inner" style="width: 30%"></div>
        <div id="pa_circle_inner" class="circle_inner" style="width: 80%"></div>
        <div id="ball" class="ball" style="width: 3%"></div>
      </div>
    </div>
    <div id="pa_target_h" class="crosshair-h"></div>
    <div id="pa_target_v" class="crosshair-v"></div>
  </div>
  <pre class="output"></pre>
  <button id="start_stop_btn" type="reset">Start</button>
  
</div>
<script>
  const startStopButton = document.getElementById("start_stop_btn");
  const alt_err = document.getElementById("alt_err")
  const az_err = document.getElementById("az_err")
  startStopButton.textContent = "Start"
  var pa_interval

  function update_alignment(error_alt, error_az, max) {
    var szElement = document.getElementById("pa_garden");
    const ball = document.getElementById("ball");
    const width = szElement.clientWidth;
    const height = szElement.clientHeight;
    x = Math.round(width/2 * (1 + error_az / max))
    y = Math.round(height/2 * (1 - error_alt / max))

    ball.style.top = `${y}px`
    ball.style.left = `${x}px`

    alt_err.textContent = `alt error (deg): ${error_alt.toFixed(3)}`
    az_err.textContent =  `az  error (deg): ${error_az.toFixed(3)}`
  }

  async function update_pa_error() {
    response = await fetch(get_blind_pa_URL, {
          method: "POST",
          body: JSON.stringify({
            action: "data"
          }),
          headers: {
            "Content-type": "application/json; charset=UTF-8"
          }
        })
        data = await response.json();
        update_alignment(data["error_alt"], data["error_az"], data["error_max"], );
        console.log(data);
  }

  async function startAlignment() {
    try {
      var baseURL =
      `${window.location.protocol}//${window.location.hostname}${window.location.port ? ':' + window.location.port : ''}`;
      get_blind_pa_URL = baseURL + '/blind_pa';

      var response = await fetch(get_blind_pa_URL, {
        method: "POST",
        body: JSON.stringify({
          action: "start"
        }),
        headers: {
          "Content-type": "application/json; charset=UTF-8"
        }
      })
      var data = await response;
      console.info('started alignment:', data)
      pa_interval = setInterval(update_pa_error, 1000)

    } catch (error) {
      console.error('Error fetching data:', error);
    }
  }

  async function stopAlignment() {
    clearInterval(pa_interval);
    try {
      var baseURL =
      `${window.location.protocol}//${window.location.hostname}${window.location.port ? ':' + window.location.port : ''}`;
      get_blind_pa_URL = baseURL + '/blind_pa';

      var response = await fetch(get_blind_pa_URL, {
        method: "POST",
        body: JSON.stringify({
          action: "stop"
        }),
        headers: {
          "Content-type": "application/json; charset=UTF-8"
        }
      })
      var data = await response;
    } catch (error) {
      console.error('Error fetching data:', error);
    }
  }

  function toggleStateAlignment(){

    if (startStopButton.textContent == "Start") {
      startAlignment()
      startStopButton.textContent = "Stop";
    }
    else {
      stopAlignment()
      startStopButton.textContent = "Start";  
    }
  }


  startStopButton.addEventListener("click", toggleStateAlignment);
</script>
<footer class="bg-body-tertiary text-center mt-3">
	Version: {{ version }}
</footer>
{% endblock %}