<div class="container mt-3">
	<div class="row d-flex justify-content-between">

		<div class="col-auto">
			<form action="{{ root }}/schedule/clear" method="post">
				<button type="submit" class="btn btn-primary me-2">Clear Schedule</button>
			</form>
		</div>

		<div class="col-auto">
			<form action="{{ root }}/schedule/import" method="post" enctype="multipart/form-data">
				<div class="input-group">
					<button type="submit" class="btn btn-primary">Import Schedule</button>
                    <input type="file" class="form-control me-2" name="schedule_file" accept=".csv" required>
				</div>
			</form>
		</div>

		<div class="col-auto">
			<form action="{{ root }}/schedule/export" method="post">
				<div class="input-group">
					<button type="submit" class="btn btn-primary me-2">Export Schedule</button>
                    <input type="text" class="form-control me-2" name="filename" placeholder="Filename.csv" required>
				</div>
			</form>
		</div>

	</div>
</div>
