<div class="container mt-3">
	<div class="row d-flex">

		<div class="col">
			<form action="{{ root }}/schedule/clear" method="post">
				<button type="submit" class="btn btn-danger me-2">Clear Schedule</button>
			</form>
		</div>

		<div class="col">
			<form action="{{ root }}/schedule/import" method="post">
				<div class="input-group">
					<select class="form-select" name="schedule_file" id="fileSelector" required>
						<option value="" disabled selected>Select a File</option>
							{% for file in files %}
								<option value="{{ file }}">{{ file }}</option>
							{% endfor %}
					</select>
				</div>
				<button type="submit" class="btn btn-primary">Import</button>
			</form>
		</div>

		<div class="col">
			<form action="{{root}}/schedule/upload" method="post" enctype="multipart/form-data">
				<div class="d-flex align-items-center">
					<input type="file" class="form-control me-2" name="schedule_file" accept=".csv,.json" required>
				</div>
				<button type="submit" class="btn btn-secondary">Upload</button>
			</form>
		</div>

		<div class="col">
			<form action="{{ root }}/schedule/export" method="post">
					<div class="input-group">
						<input type="text" class="form-control me-2" name="filename" placeholder="Filename" required>
					</div>
					<div>
						<button type="submit" class="btn btn-primary">Export</button>
						<button type="submit" class="btn btn-secondary" formaction="{{ root }}/schedule/download">Download</button>
					</div>
			</form>
		</div>

	</div>
</div>