{% extends 'base.html' %}

{% block header %}
    <div class="container mt-3">
		<p class="h1">{% block title %}Commands{% endblock %}</p>
	</div>
{% endblock %}

{% block content %}
    <div class="container mt-3">
		<p class="h3">Select a command to execute</p>
	</div>

	{% if online %}
		<div class="container mt-3">
			{% include 'do_command.html' with context %}
		</div>
	{% else %}
		<div class="container mt-3">
			<p>You are currently in offline mode</p>
			<span> {% include 'go_online.html' %}</span>
		</div>
	{% endif %}
	
	{% if output %}
		<div class="alert alert-primary" role="alert">{{output}}</div>
	{% endif %}
	
{% endblock %}