{% extends 'base.html' %}

{% block header %}
    <div class="container mt-3">
		<p class="h1">{% block title %}Commands{% endblock %}</p>
	</div>
{% endblock %}

{% block content %}
	{% if online %}
		<div class="container mt-3">
			<p class="h3">Select a command to execute</p>
		</div>
		<div class="container mt-3">
			{% include 'do_command.html' with context %}
		</div>
	{% else %}
		<div class="container mt-3">
			<p>You are currently in offline mode</p>
		</div>
	{% endif %}

	<footer class="bg-body-tertiary text-center mt-3">
		Version: {{ version }}
	</footer>
{% endblock %}