{% extends 'base.html' %}

{% block header %}
	<div class="container mt-3">
		<p class="h1">SSC Config</p>
	</div>
{% endblock %}

{% block content %}
	<div class="card border-primary mb-3">
		<form method="post" action="/config">
		<div class="card-body">
			<h5 class="card-title">Logging</h5>
			<label for="log_level" class="form-label">Log Level:</label>
			<select id="log_level" name="log_level">
				{% if config.log_level == 10 %}
				<option value="DEBUG" selected>DEBUG</option>
				{% else %}
				<option value="DEBUG">DEBUG</option>
				{% endif %}

				{% if config.log_level == 20 %}
				<option value="INFO" selected>INFO</option>
				{% else %}
				<option value="INFO">INFO</option>
				{% endif %}

				{% if config.log_level == 30 %}
				<option value="WARN" selected>WARN</option>
				{% else %}
				<option value="WARN">WARN</option>
				{% endif %}

				{% if config.log_level == 40 %}
				<option value="ERROR" selected>ERROR</option>
				{% else %}
				<option value="ERROR">ERROR</option>
				{% endif %}

			</select>
			<br>
			<label for="log_prefix" class="form-label">Log Prefix:</label>
			<input id="log_prefix" name="log_prefix" type="text" value="{{ config.prefix }}">

			<br>
			<label for="log_to_stdout" class="form-label">Log to stdout:</label>
			{% if config.log_to_stdout == true %}
			<input id="log_to_stdout" name="log_to_stdout" type="checkbox" checked>
			{% else %}
			<input id="log_to_stdout" name="log_to_stdout" type="checkbox">
			{% endif %}

			<br>
			<label for="max_size_mb" class="form-label">Max log size in MB</label>
			<input id="max_size_mb" name="max_size_mb" type="text" value="{{ config.max_size_mb }}">

			<br>
			<label for="num_keep_logs" class="form-label">Number of logs to keep</label>
			<input id="num_keep_logs" name="num_keep_logs" type="text" value="{{ config.num_keep_logs }}">

			<br>
			<label for="log_events_in_info" class="form-label">Log events in info:</label>
			{% if config.log_events_in_info == true %}
			<input id="log_events_in_info" name="log_events_in_info" type="checkbox" checked>
			{% else %}
			<input id="log_events_in_info" name="log_events_in_info" type="checkbox">
			{% endif %}

			<br>
			<button type="submit" class="btn btn-primary">Save</button>
		</div>
		</form>
	</div>

	<footer class="bg-body-tertiary text-center mt-3">
		Version: {{ version }}
	</footer>
{% endblock %}

{% block html_header %}
    <meta http-equiv="refresh" content="15">
{% endblock %}