{% block extra_styles %}
    <style>
        .navbar {
			position: relative;
            z-index: 1060;
        }

        .modal {
			position: fixed;
            z-index: 1055;
        }
    </style>
{% endblock %}

<div class="modal fade {% if confirm %}show{% endif %}" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="{% if not confirm %}true{% else %}false{% endif %}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalBody">
                You selected: <span id="selectedCommandText"></span>. Do you want to proceed?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="confirmButton">Confirm</button>
            </div>
        </div>
    </div>
</div>

<script>
var currentForm;

function showModal(event, form) {
    event.preventDefault(); // Prevent the default form submission

    currentForm = form; // Store the current form reference

    var dropdown = form.querySelector('select[name="command"]');
    var commandInput = form.querySelector('input[name="command"]');

    var selectedText;

    // Determine the selected command text
    if (dropdown) {
        selectedText = dropdown.options[dropdown.selectedIndex].text;
    } else if (commandInput && commandInput.value === "start_up_sequence") {
        selectedText = "Start-Up Sequence";
    } else {
        selectedText = "Command Execution";
    }

    document.getElementById('selectedCommandText').textContent = selectedText;

    // Show the modal only if confirm is true
    if ({{ confirm|tojson }}) {
        var modal = new bootstrap.Modal(document.getElementById('confirmationModal'));
        modal.show();

        // Handle confirmation button click
        document.getElementById('confirmButton').onclick = function() {
            modal.hide(); // Hide the modal
            currentForm.submit(); // Submit the form
        };
    } else {
        // If confirm is false, submit the form directly
        currentForm.submit();
    }
}
</script>


 <div class="container">
	<div class="row">
		<div class="col-md-6 border border-primary">
			<h5 class="card-title">Start-Up Sequence</h5>
			<form method="post" action="{{ action }}" class="bordered-form" onsubmit="showModal(event, this)">
			<div class="container">
				<div class="mb3 row align-items-end">
					<input type="hidden" name="command" value="start_up_sequence">
					<div class="mb3 col-sm-2">
						<label for="lat" class="form-label" style="margin-bottom:5px;font-weight:bold">Latitude</label>
						<input type="text" class="form-control form-control-sm" style="width: 100px" id="lat" name="lat">
					</div>

					<div class="mb3 col-sm-2">
						<label for="long"class="form-label" style="margin-bottom:5px;font-weight:bold">Longitude</label>
						<input type="text" class="form-control form-control-sm" style="width: 100px" id="long" name="long">
					</div>
					<div class = "col-sm-2">
						<button type="submit" class="btn btn-primary btn-sm">Execute</button>
					</div>
				</div>
				<div class="mb3 row"><p></p></div>
					<div class="mb3 col-7">
						<div class="mb3 row">
							<p>This will override whatever value you have set in config.toml. Leaving this blank will not override your values specified in config.toml.  Specifying a value of 0 will attempt to determine your location based on IP Geolocation. <b>The machine you run seestar_alp on must have internet service for this to work!</b></p>
						</div>
					</div>
				</div>
			</form>
		</div>
			<div class="col-md-6 border border-primary">
				<h5 class="card-title">Output</h5>
				{% if output %}
					<div class="alert alert-primary" role="alert">{{output}}</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="card border-primary mb-3">
		<div class="card-body">
			<div class="row mb-2">
				<div class="col">
					<form method="post" action="{{ action }}" onsubmit="showModal(event, this)">
						<div style="margin-bottom:5px;font-weight:bold">
							<label for="dropdown1">Startup / Shutdown</label>
						</div>
						<select id="dropdown1" name="command">
							<option value="scope_move_to_horizon">Scope Move to Horizon</option>
							<option value="scope_park">Scope Park</option>
							<option value="pi_reboot">Scope Reboot</option>
							<option value="pi_shutdown">Scope Shutdown</option>
						</select>
						<button type="submit" class="btn btn-primary">Execute</button>
					</form>
				</div>
				<div class="col">
					<form method="post" action="{{ action }}" onsubmit="showModal(event, this)">
						<div style="margin-bottom:5px;font-weight:bold">
							<label for="dropdown2">Polar Align</label>
						</div>
						<select id="dropdown2" name="command">
							<option value="start_polar_align">Start Polar Align</option>
							<option value="stop_polar_align">Stop Polar Align</option>
						</select>
						<button type="submit" class="btn btn-primary">Execute</button>
					</form>
				</div>
				<div class="col">
					<form method="post" action="{{ action }}" onsubmit="showModal(event, this)">
						<div style="margin-bottom:5px;font-weight:bold">
							<label for="dropdown3">AutoFocus</label>
						</div>
						<select id="dropdown3" name="command">
							<option value="start_auto_focus">Start AutoFocus</option>
							<option value="stop_auto_focus">Stop AutoFocus</option>
							<option value="get_focuser_position">Get Current Focuser Position</option>
							<option value="get_last_focuser_position">Get Last Focuser Position</option>
						</select>
						<button type="submit" class="btn btn-primary">Execute</button>
					</form>
				</div>
			</div>
			<div class="row mb-2">
				<div class ="col">
					<form method="post" action="{{ action }}" onsubmit="showModal(event, this)">
						<div style="margin-bottom:5px;font-weight:bold">
							<label for="dropdown4">Dark Frame Generation</label>
						</div>
						<select id="dropdown4" name="command">
							<option value="start_create_dark">Start Create Dark</option>
							<option value="stop_create_dark">Stop Create Dark</option>
						</select>
						<button type="submit" class="btn btn-primary">Execute</button>
					</form>
				</div>
				<div class="col">
					<form method="post" action="{{ action }}" onsubmit="showModal(event, this)">
						<div style="margin-bottom:5px;font-weight:bold">
							<label for="dropdown5">Filter</label>
						</div>
						<select id="dropdown5" name="command">
							<option value="set_wheel_position_LP">Use LP Filter</option>
							<option value="set_wheel_position_IR_Cut">Use IR Cut Filter</option>
							<option value="set_wheel_position_Dark">Use Dark Filter</option>
							<option value="get_wheel_state">Get Wheel State</option>
							<option value="get_wheel_setting">Get Wheel Setting</option>
						</select>
						<button type="submit" class="btn btn-primary">Execute</button>
					</form>
				</div>
				<div class="col">
					<form method="post" action="{{ action }}" onsubmit="showModal(event, this)">
						<div style="margin-bottom:5px;font-weight:bold">
							<label for="dropdown6">Plate Solve</label>
						</div>
						<select id="dropdown6" name="command">
							<option value="start_solve">Start Plate Solve</option>
							<option value="get_solve_result">Get Current Plate Solve Result</option>
							<option value="get_last_solve_result">Get Last Plate Solve Result</option>
						</select>
						<button type="submit" class="btn btn-primary">Execute</button>
					</form>
				</div>
			</div>
			<div class="row mb-2">
				<div class="col">
					<form method="post" action="{{ action }}" onsubmit="showModal(event, this)">
						<div style="margin-bottom:5px;font-weight:bold">
							<label for="dropdown7">Get Infomation / Settings</label>
						</div>
						<select id="dropdown7" name="command">
							<option value="iscope_get_app_state">Get App State</option>
							<option value="get_event_state">Get Event State</option>
							<option value="pi_get_ap">Get AP (WiFi) Info</option>
							<option value="get_app_setting">Get App Setting</option>
							<option value="get_controls">Get Controls</option>
							<option value="get_disk_volume">Get Disk Volume</option>
							<option value="get_setting">Get Settings</option>
							<option value="get_test_setting">Get Test Settings</option>
							<option value="get_user_location">Get User Location</option>
							<option value="scope_get_equ_coord">Get Equatorial Coordinate</option>
							<option value="scope_get_horiz_coord">Get Horizon Coordinates</option>
							<option value="scope_get_ra_dec">Get RA/Dec</option>
						</select>
						<button type="submit" class="btn btn-primary">Execute</button>
					</form>
				</div>
				<div class="col">
					<form method="post" action="{{ action }}" onsubmit="showModal(event, this)">
						<div style="margin-bottom:5px;font-weight:bold">
							<label for="dropdown8">Imaging</label>
						</div>
						<select id="dropdown8" name="command">
							<option value="iscope_start_stack">Start Imaging</option>
							<option value="iscope_stop_view">Stop Imaging</option>
							<option value="get_view_state">Get View State</option>
							<option value="get_stack_info">Get Stack Info</option>
							<option value="get_img_name_field">Get Image Name Field</option>
							<option value="get_image_save_path">Get Image Save Path</option>
							<option value="get_camera_state">Get Camera State</option>
							<option value="get_camera_exp_and_bin">Get Camera Exposure & Bin</option>
						</select>
						<button type="submit" class="btn btn-primary">Execute</button>
					</form>
				</div>
				<div class="col"></div>
			</div>
		</div>
	</div>
</div>


