<div class="container">

	<div class="row">
		<div class="col-md-12 p-3">
			<h5 class="card-title pb-2">Output</h5>
			<div id="outputAlert" class="alert alert-primary" role="alert">
				{% if output %}
					{{ output }}
				{% else %}
					<!-- Output will be placed here if any -->
				{% endif %}
			</div>
		</div>
	</div>

	<div class="row">
			<form method="post" action="{{ action }}" class="bordered-form">
			<div class="container">
				<div class="row">
          <div class="col">
						<label for="lat" class="form-label font-weight-bold">Latitude</label>
						<input type="text" class="form-control form-control-sm" id="lat" name="lat">
						<label for="long" class="form-label font-weight-bold">Longitude</label>
						<input type="text" class="form-control form-control-sm" id="long" name="long">
           </div>
           <div class="col">
             <label for="move_arm_lat_sec" class="form-label font-weight-bold">Move Arm Latitude</label>
             <input type="text" class="form-control form-control-sm" id="move_arm_lat_sec" name="move_arm_lat_sec">
             <label for="move_arm_lon_sec" class="form-label font-weight-bold">Move Arm Longitude</label>
             <input type="text" class="form-control form-control-sm" id="move_arm_lon_sec" name="move_arm_lon_sec">
					</div>
        </div>
        <div class="row mt-3">
          <div class="col">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="move_arm" name="move_arm" checked>
							<label class="form-check-label" for="move_arm">Move Arm</label>
						</div>
          </div>
          <div class="col">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="auto_focus" name="auto_focus" checked>
							<label class="form-check-label" for="auto_focus">AutoFocus</label>
						</div>
           </div>
					<div class="col">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="dark_frames" name="dark_frames" checked>
							<label class="form-check-label" for="dark_frames">Dark Frames</label>
						</div>
          </div>
          <div class="col">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="polar_align" name="polar_align" checked>
							<label class="form-check-label" for="polar_align">Polar Align</label>
					  </div>
					</div>
					</div>
          <div class="mt-3 mb-3">
					  The lat/long and scope aim values specified here will override the value(s) you have set in config.toml. Leaving this blank will not override your values specified in your config.toml. Specifying a lat/long value of 0 will attempt to determine your location based on IP Geolocation. <b>The machine you run seestar_alp on must have internet service for this to work!</b>
          </div>
		  </div>
      <button type="submit" name="action" value="start" class="btn btn-primary btn-lg">Start</button>
      <button type="submit" name="action" value="stop"  class="btn btn-danger btn-lg">Stop</button>
		  </form>
  </div>
</div>
