{% extends 'base.html' %}

{% block header %}
	<div class="container mt-3">
		<p class="h1">{% block title %}Image{% endblock %}</p>
	</div>
{% endblock %}

{% block content %}

	{% if online %}
		<div class="container mt-3">
			<p class="h3 mb-2">Enter a new image</p>

			<p>Creates and immediately runs a image. For scheduling a image, see <a href="/schedule">scheduler</a>.</p>

			{% include 'image_create.html' with context %}
		</div>
	{% else %}
		<div class="container mt-3">
			<p>You are currently in offline mode</p>
		</div>
	{% endif %}

	<footer class="bg-body-tertiary text-center mt-3">
        Version: {{ version }}
    </footer>
{% endblock %}
