{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Image{% endblock %}</h1>
{% endblock %}

{% block content %}
{#
    <h3 class="mb-2">Current Schedule</h3>

	{% if online %}
		{% include 'schedule_list.html' with context %}
	{% else %}
		<p>You are in offline mode.  Go online to see stats</p>
	{% endif %}
#}
	{% if online %}
		
		<h3 class="mb-2">Enter a new image</h3>

		<p>Creates and immediately runs a image. For scheduling a image, see <a href="/schedule">scheduler</a>.</p>

		% include 'image_create.html' with context %}
	{% else %}
		<p>You are currently in offline mode</p>
		<span> {% include 'go_online.html' %}</span>
	{% endif %}

{% endblock %}

{#    # {"target_name":"kai32_NGC2244", "ra":"6h31m54.23s", "dec":"+4d56m26.4s", #}
{#"is_j2000": true, "is_use_lp_filter":true, "session_time_sec":3600, "ra_num": 2, "dec_num": 2, "panel_overlap_percent": 20, "gain": 80}#}

