{% extends 'base.html' %}

{% block header %}
    <div class="container mt-3">
        <p class="h1">{% block title %}Simple Seestar Controller{% endblock %}</p>
    </div>
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <p>Welcome to the Simple Seestar (Web) Controller.</p>
    </div>

    {% for telescope in telescopes %}
        <div class="container mt-3"><p class="h2"><a href="/{{ telescope["device_num"] }}/">{{ telescope["name"] }}
            ({{ telescope["ip_address"] }})</a></p></div>

        {% if telescope.stats %}
            <div class="container mt-3">

                {% for key, value in telescope["stats"].items() %}
                    <div class="row border-bottom py-1">    
                        {% if key == "Wi-Fi Signal" %}
                            {% if value[:3]|int >= -69 %}
                                <div class="col fw-bold"><p>{{ key }}</p></div>
                                <div class="col"><p class="text-end text-success">{{ value }}</p></div>
                            {% elif (value[:3]|int <= -70) and (value[:3]|int >= -79) %}
                                <div class="col fw-bold"><p>{{ key }}</p></div>
                                <div class="col"><p class="text-end text-warning">{{ value }}</p></div>
                            {% else %}
                                <div class="col fw-bold"><p>{{ key }}</p></div>
                                <div class="col"><p class="text-end text-danger">{{ value }}</p></div>
                            {% endif %}
                        {% else %}
                            <div class="col fw-bold">{{ key }}</div>
                            <div class="col"><p class="text-end">{{ value }}</p></div>
                        {% endif %}
                    </div>
                {% endfor %}

            </div>
        {% else %}
            <div class="container mt-3">
                <p>Telescope is currently offline</p>
            </div>
        {% endif %}
    {% endfor %}

    <footer class="bg-body-tertiary text-center mt-3">
        Version: {{ version }} | Last updated: {{ now }}
    </footer>

{% endblock %}

{% block html_header %}
    <meta http-equiv="refresh" content="15">
{% endblock %}