{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Simple Seestar Controller{% endblock %}</h1>
{% endblock %}

{% block content %}
    <p>Welcome to the Simple Seestar (Web) Controller.</p>
{% endblock %}

{#  <form method="post">#}
{#    <label for="username">Username</label>#}
{#    <input name="username" id="username" required>#}
{#    <label for="password">Password</label>#}
{#    <input type="password" name="password" id="password" required>#}
{#    <input type="submit" value="Register">#}
{#  </form>#}
