<div class="container mt-3">
    {% if target_name %}
    <div class="row border-bottom py-1 text-start">
        <div class="col fw-bold">Target Name</div>
        <div class="col">{{ target_name }}</div>
    </div>
    {% endif %}
    <div class="row border-bottom py-1 text-start">
        <div class="col fw-bold">State</div>
        <div class="col">{{ state }}</div>
    </div>
    <div class="row border-bottom py-1 text-start">
        <div class="col fw-bold">Mode</div>
        <div class="col">{{ mode }}</div>
    </div>
    <div class="row border-bottom py-1 text-start">
        <div class="col fw-bold">Stage</div>
        <div class="col">{{ stage }}</div>
    </div>
    {% if stats %}
        <div class="row border-bottom py-1 text-start">
            <div class="col fw-bold">Stacked Frames</div>
            <div class="col">{{ stats["stacked_frame"] }}</div>
        </div>
        <div class="row border-bottom py-1 text-start">
            <div class="col fw-bold">Dropped Frames</div>
            <div class="col">{{ stats["dropped_frame"] }}</div>
        </div>
        <div class="row border-bottom py-1 text-start">
            <div class="col fw-bold">Total Elapsed Time</div>
            <div class="col">{{ stats["elapsed"] }}</div>
        </div>
    {% endif %}
</div>