{% extends 'base.html' %}

{% block header %}
    <h1 class="text-center mb-3">{% block title %}Live View{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if online %}
        <script>
            document.body.addEventListener("statusUpdate", function (evt) {
                const mode = evt.detail.mode;
                const stage = evt.detail.stage;
                console.log("status update")
                updateModeButtons(mode);
                updateMovementControls(stage);
            })

            document.body.addEventListener("liveViewModeChange", function (evt) {
                // evt.detail.value is mode
                const mode = evt.detail.value;
                console.log(`liveViewModeChange was triggered! mode=${mode}`);
                const img = document.getElementById('liveViewImg');
                let currentSrc = "{{ imager_root }}/vid";
                // Add a cache-busting parameter
                if (currentSrc.indexOf('?') > -1) {
                    currentSrc = currentSrc.substring(0, currentSrc.indexOf('?'));
                }
                const newSrc = currentSrc + "?timestamp=" + new Date().getTime();

                img.src = newSrc;

                updateModeButtons(mode);
            })
        </script>

        <div class="container">
            <div class="row justify-content-md-center g-3">
                <div class="col-md-4 order-md-last">
                    {#                    <div id="movement-controls" class="mb-3 d-flex flex-column">#}
                    {#                        <div class="bg-dark-subtle position-relative rounded mb-3" style="width: 250px; height: 250px;">#}
                    {#                            <div id="zone" class="position-absolute"#}
                    {#                                 style="display: block; left: 0; width: 100%; height: 100%; "></div>#}
                    {#                        </div>#}
                    {#                    </div>#}

                    {#                    <div class="card card-body p-3 mb-3">#}
                    {#                        {% include 'partials/live_controls.html' with context %}#}
                    {#                    </div>#}

                    {#                    <div class="mb-3 card card-body p-3" hx-get="{{ root }}/live/status" hx-trigger="load, every 5s">#}
                    {#                        Loading live status...#}
                    {#                    </div>#}

                    {% include 'partials/live_card_status.html' with context %}

                    {#                    <div class="mb-3 card card-body p-3">#}
                    {#                        {% include 'partials/live_star_exposure_modes.html' with context %}#}
                    {#                    </div>#}

                    <div class="mb-3 card card-body p-3" style="min-width: 320px;">
                        <div class="row">
                            {% include 'partials/live_controls_mode_none.html' with context %}
                            {% include 'partials/live_controls_mode_star.html' with context %}
                            {% include 'partials/live_controls_mode_sun.html' with context %}
                        </div>
                        <div class="row">
                            {% include 'partials/live_controls_mode_moon.html' with context %}
                            {% include 'partials/live_controls_mode_planet.html' with context %}
                            {% include 'partials/live_controls_mode_scenery.html' with context %}
                        </div>
                    </div>

                </div>

                {#                <div class="col-md-8 order-md-first">#}
                {#                    <img id="liveViewImg" src="{{ imager_root }}/vid" alt="Live view image"#}
                {#                         style="max-height: 80vh; max-width: 100%"/>#}
                {#                    <div id="position"></div>#}
                {#                </div>#}
            </div>
            <div class="row mt-3">
                {% include 'partials/events.html' with context %}
            </div>
        </div>
        {#    <img id="liveViewImg" src="{{ imager_root }}/vid" width="540" height="960" alt="Live view image"/>#}
        {#    <img src="{{ imager_root }}/vid" width="1080" height="1920"/>#}

        <footer class="bg-body-tertiary text-center mt-3">
            Version: {{ version }} | Last updated: {{ now }}
        </footer>

        <script>
            new LiveViewJoystick('{{ root }}', 'zone').register();
        </script>

    {% else %}
        <div class="container mt-3">
            <p>You are currently in offline mode</p>
        </div>
    {% endif %}
{% endblock %}