{% extends 'base.html' %}

{% block content %}
    {% if online %}
        <script>
            let navigating = false;
            document.body.addEventListener('htmx:sseBeforeMessage', function(evt) {
                if (navigating) return;
                //console.log('sse event:', evt.detail.type, evt.detail);
                switch (evt.detail.type) {
                    case 'statusUpdate': {
                        const payload = JSON.parse(evt.detail.data)
                        let mode = payload.mode;
                        const stage = payload.stage;
                        const arr = document.URL.split('/');
                        let lastSegment = arr[arr.length - 1];

                        //console.log('status update:', lastSegment, mode, stage)

                        if (lastSegment === 'live') {
                            lastSegment = 'none';
                        }
                        if (!mode) {
                            mode = 'none';
                        }

                        if (lastSegment !== mode) {
                            //console.log(`Change mode from ${lastSegment} to ${mode}`)
                            if (mode === 'none') {
                                window.location = arr.slice(0, -1).join('/')
                            } else {
                                if (document.URL.endsWith('live')) {
                                    window.location = document.URL + '/' + mode;
                                } else {
                                    window.location = arr.slice(0, -1).join('/') + '/' + mode;
                                }
                            }
                            navigating = true;
                        } else {
                            updateModeButtons(mode);
                            updateMovementControls(stage);
                        }
                    }
                    break;

                    case 'liveViewModeChange': {
                        const payload = JSON.parse(evt.detail.data);
                        const mode = payload.mode;
                        // console.log(`liveViewModeChange was triggered! mode=${mode}`);
                        const img = document.getElementById('liveViewImg');
                        let currentSrc = "{{ imager_root }}/vid";
                        // Add a cache-busting parameter
                        if (currentSrc.indexOf('?') > -1) {
                            currentSrc = currentSrc.substring(0, currentSrc.indexOf('?'));
                        }
                        const newSrc = currentSrc + "?timestamp=" + new Date().getTime();

                        img.src = newSrc;

                        updateModeButtons(mode);
                    }
                    break;

                }
            });
        </script>

        {% block live_content %}{% endblock %}

        <footer class="bg-body-tertiary text-center mt-3">
            Version: {{ version }} | Last updated: {{ now }}
        </footer>

        <script>
            new LiveViewJoystick('{{ root }}', 'zone').register();
        </script>

    {% else %}
        <div class="container mt-3">
            <p>You are currently in offline mode</p>
        </div>
    {% endif %}
{% endblock %}
