{% extends 'live_base.html' %}

{% block header %}
    <h1 class="text-center mb-3">{% block title %}Live View{% endblock %}</h1>
{% endblock %}

{% block live_content %}
    <div class="container">
        <div class="row justify-content-md-center g-3">
            <div class="col-md-4 order-md-last">

                {% include 'partials/live_card_status.html' with context %}

                <div class="mb-3 card card-body p-3" style="min-width: 320px;">
                    <div class="row">
                        {% include 'partials/live_controls_mode_none.html' with context %}
                        {% include 'partials/live_controls_mode_star.html' with context %}
                        {% include 'partials/live_controls_mode_sun.html' with context %}
                    </div>
                    <div class="row">
                        {% include 'partials/live_controls_mode_moon.html' with context %}
                        {% include 'partials/live_controls_mode_planet.html' with context %}
                        {% include 'partials/live_controls_mode_scenery.html' with context %}
                    </div>
                </div>

            </div>
        </div>
        <div class="row mt-3">
            {% include 'partials/events.html' with context %}
        </div>
    </div>
{% endblock %}