{% extends 'base.html' %}

{% block header %}
    <div class="container mt-3">
		<p class="h1">{% block title %}Mosaic{% endblock %}</p>
	</div>
{% endblock %}

{% block content %}

	{% if client_master and online %}
		<div class="container mt-3">
			<!-- <p class="h3 mb-2">Enter a new mosaic</p> -->

			<p>Creates and immediately runs a mosaic. For scheduling a mosaic, see <a href="/schedule">scheduler</a>.</p>

			{% include 'mosaic_create.html' with context %}
		</div>
  {% elif not client_master %}
    <div class="container mt-3">
      <p>You are currently in guest mode. You can release this in the Advanced->Guest Mode of the SeeStar app.</p>
      <p>See the <a href="https://github.com/smart-underworld/seestar_alp/wiki/Guest-Mode">Guest Mode</a> wiki page for details</p>
    </div>
  {% else %}
		<div class="container mt-3">
			<p>You are currently in offline mode.</p>
		</div>
	{% endif %}

	<footer class="bg-body-tertiary text-center mt-3">
		Version: {{ version }}
	</footer>
{% endblock %}
