<script src="/public/fit_import.js"></script>
<form method="post" action="{{ action }}">
    <div class="card border-primary mb-3">
        <div class="card-body">
            <!-- First Row: Target Name and Search For -->
            <div class="mb-3 row">
                <div class="d-flex align-items-center">
                    <!-- Target Name -->
                    <div class="col me-3">
                        <label for="targetName" class="form-label">Target Name</label>
                        <input type="text" class="form-control" id="targetName" name="targetName"
                               aria-describedby="targetNameHelp" value="{{ values.target_name }}" required>
                        <div id="targetNameHelp" class="form-text">Enter a descriptive name for the target. (e.g. ...)</div>
                    </div>
    
                    <!-- Search For -->
                    <div class="col">
                        <label for="searchFor" class="form-label">Search For</label>
                        <div class="d-flex mb-0">
                            <select class="form-select" id="searchFor" name="searchFor" title="Select type of target">
                                <option value="DS" selected>Simbad Deepsky (Online)</option>
                                <option value="LS" >Local Deepsky DB</option> 
                                <option value="PL">Planet</option>
                                <option value="MP">Minor Planet (Asteroid)</option>
                                <option value="CO">Comet</option>
                                <option value="VS"> AAVSO Varible Star (Online)</option>
                            </select>
                            <button type="button" id="getSimbad" class="btn btn-primary ms-2" title="Search for Coordinates" onclick="fetchCoordinates()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                </svg>
                            </button>
                        </div>
                        <div id="searchForHelp" class="form-text mb-0">Choose the type of object you are searching for.</div>
                    </div>
                </div>
            </div>
    
            <!-- Second Row: RA and Dec -->
            <div class="mb-3 row">
                <div class="col">
                    <label for="ra" class="form-label">Right Ascension</label>
                    <input type="text" class="form-control" id="ra" name="ra" aria-describedby="raHelp"
                           value="{{ values.ra }}" required>
                    <div id="raHelp" class="form-text">Mosaic center in decimal hours or hours/minutes/seconds (e.g. -1.2 or 6h32m32.5s)</div>
                    {% if errors.ra %}
                        <div id="raError" class="form-text" style="color:red;">The RA value you provided {{errors.ra}} is not valid.</div>
                    {% endif %}
                </div>
                <div class="col">
                    <label for="dec" class="form-label">Declination</label>
                    <input type="text" class="form-control" id="dec" name="dec" aria-describedby="decHelp"
                           value="{{ values.dec }}" required>
                    <div id="decHelp" class="form-text">Mosaic center in decimal degrees or degrees/minutes/seconds (e.g. -1.2 or +6d32m32.5s)</div>
                    {% if errors.dec %}
                        <div id="decError" class="form-text" style="color:red;">The DEC value you provided {{errors.dec}} is not valid.</div>
                    {% endif %}
                </div>
            </div>

            <!-- Checkbox for J2000 -->
            <div class="mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="useJ2000" name="useJ2000">
                    <label class="form-check-label" for="useJ2000">Use J2000?</label>
                </div>
            </div>

            <!-- RA Panels, Dec Panels, Panel Overlap -->
            <div class="mb-3 row">
                <div class="col">
                    <label for="raPanels" class="form-label">RA Panels</label>
                    <input type="number" class="form-control w-33" id="raPanels" name="raPanels"
                           value="{{ values.ra_num }}" required>
                    <div id="raPanelsHelp" class="form-text">Number of RA panels</div>
                </div>
                <div class="col">
                    <label for="decPanels" class="form-label">Dec Panels</label>
                    <input type="number" class="form-control w-33" id="decPanels" name="decPanels"
                           value="{{ values.dec_num }}" required>
                    <div id="decPanelsHelp" class="form-text">Number of Dec panels</div>
                </div>
                <div class="col">
                    <label for="panelOverlap" class="form-label">Panel Overlap (%)</label>
                    <input type="number" class="form-control w-33" id="panelOverlap" name="panelOverlap"
                           value="{{ values.panel_overlap_percent }}" required>
                    <div id="panelOverlapHelp" class="form-text">Overlap of panels in percentage</div>
                </div>
            </div>
               
            <!-- Selected Panels -->
            <div class="mb-3 row">
                <div class="col">
                    <label for="panelSelect" class="form-label">Selected Panels (optional)</label>
                    <input type="text" class="form-control" id="panelSelect" name="panelSelect"
                           value="{{ values.selected_panels }}">
                    <div id="panelSelectHelp" class="form-text">Semicolon delimited list of panels you want to image</div>
                </div>
            </div>
     
            <!-- Checkbox for Seestar split mode (Conditional rendering) -->
            {% if telescope["device_num"] == 0 %}
                <div class="mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="array_mode" name="array_mode" value="split">
                        <label class="form-check-label" for="array_mode">Split Mosaic Across Multiple Seestar?</label>
                    </div>
                </div>
            {% endif %}

            <!-- Buttons for importing coordinates from other sources -->
            <div class="mb-3 row justify-content-center">
                <div class="col text-center">
                    <label for="getClipboard" class="form-label">&nbsp;</label><br>
                    <button type="button" id="getStallarium" class="btn btn-primary" title="Parse RA/Dec from clipboard" onclick="fetchClipboard()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10 1.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5zm-5 0A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5zm-2 0h1v1A2.5 2.5 0 0 0 6.5 5h3A2.5 2.5 0 0 0 12 2.5v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2"/>
                        </svg>
                    </button>
                    <div id="targetNameHelp" class="form-text">Paste RA/Dec from Clipboard</div>
                </div>
                <div class="col text-center">
                    <label for="getStallarium" class="form-label">&nbsp;</label><br>
                    <button type="button" id="getStallarium" class="btn btn-primary" title="Copy RA/Dec from Stellarium" onclick="fetchStellarium()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                    </button>
                    <div id="targetNameHelp" class="form-text">Retrieve RA/Dec from Stellarium</div>
                </div>
                <div class="col text-center">
                    <label for="getHeaders" class="form-label">&nbsp;</label><br>
                    <button type="button" id="getHeaders" class="btn btn-primary" title="Retrieve info from previous FIT image">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16">
                            <path fill="currentColor" d="M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2zm1 9v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71l-2.66-1.772a.5.5 0 0 0-.63.062zm5-6.5a1.5 1.5 0 1 0-3 0a1.5 1.5 0 0 0 3 0"/>
                        </svg>
                    </button>
                    <input type="file" id="fileInput" style="display:none;" />
                    <div id="targetNameHelp" class="form-text">Retrieve from previous Seestar FIT File</div>
                </div>
            </div>

        </div>
    </div>
    
    <p>
        <h5 class="card-title">Exposure Settings</h5>
    </p>
    <div class="card border-primary mb-3">
        <div class="card-body">
           

            <div class="mb-3">
                <label for="sessionTime" class="form-label">Total Session Time</label>
                <input type="text" class="form-control" id="sessionTime" name="sessionTime"
                       aria-describedby="sessionTimeHelp" value="{{ values.session_time_sec }}" required>
                <div id="sessionTimeHelp" class="form-text">Total elapsed session time (ex: 1h 30m or 5400). Rejected frames
                    count.
                </div>
            </div>

            <div class="mb-3">
                {% if values.gain %}
                    <input type="text" class="form-control" id="gain" name="gain" aria-describedby="gainHelp"
                        value="{{ values.gain }}" required>
                {% else %}
                    <input type="text" class="form-control" id="gain" name="gain" aria-describedby="gainHelp"
                        value="80" required>
                {% endif %}
                <div id="gainHelp" class="form-text">Gain. (ex: 80)</div>
            </div>

            <div class="mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="useLpFilter" name="useLpFilter">
                    <label class="form-check-label" for="useLpFilter">
                        Use Light Pollution Filter?
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="useAutoFocus" name="useAutoFocus">
                    <label class="form-check-label" for="useAutoFocus">
                        Use Auto Focus on every panel?
                    </label>
                </div>
            </div>

        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<!-- Modal structure -->
<div class="modal fade" id="itemModal" tabindex="-1" aria-labelledby="itemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="itemModalLabel">Select an Object</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul id="itemList" class="list-group">
                    <!-- List of comets will be dynamically inserted here -->
                </ul>
            </div>
        </div>
    </div>
</div>