<div class="container mt-3">
  <p id="alt_err">Alt Error (Degrees): </p>
  <p id="az_err">Az Error (Degrees): </p>
</div>

<div class="slide-container">
  <p>max error (degrees): <input type="range" min="1" max="100" value="50" class="slider" id="error_slider"> <span id="error_range"></span> </p>
</div>

<style>
  .garden {
    position: relative;
    width: 55%;
    border: 2px solid #ccc;
    border-radius: 10px;
    aspect-ratio : 1 / 1;
  }
  .crosshair-h {
    position: absolute;
    top: 50%;
    left: 0%;
    width: 100%;
    height: 0px;
    border: 1px solid #ccc;
    z-index: 5;
  }
  .crosshair-v {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 0px;
    height: 100%;
    border: 1px solid #ccc;
    z-index: 5;
  }
  .ball {
    position: absolute;
    width: 15px;
    background: red;
    border: 0px;
    padding: 0px;
    border-radius: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio : 1 / 1;
  }
  .circle_inner {
    position: absolute;
    z-index: 5;
    border: 2px solid #ccc;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio : 1 / 1;
    margin: 0
  }


  .slide-container {
    width: 80%; /* Width of the outside container */
  }

  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 55%; /* Full-width */
    height: 15px;
    border: 2px;
    border-radius: 5px;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }

  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }

  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px;
    border-radius: 50%;
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px;
    border-radius: 50%;
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
</style>

<div id="pa_target_div">
	<div id="pa_garden" class="garden">
		<div class="cow d-flex justify-content-center align-items-center" style="margin: unset; height: 100%">
			<div class="row d-flex justify-content-center align-items-center" style="margin: unset; width: 100%">
				<div id="pa_circle_inner10" class="circle_inner" style="width: 10%"></div>
				<div id="pa_circle_inner30" class="circle_inner" style="width: 30%"></div>
				<div id="pa_circle_inner80" class="circle_inner" style="width: 80%"></div>
				<div id="ball" class="ball" style="width: 3%"></div>
			</div>
		</div>
	  <div id="pa_target_h" class="crosshair-h"></div>
    <div id="pa_target_v" class="crosshair-v"></div>
  </div>
</div>
<pre class="output"></pre>
<!-- <form method="post" action="{{ action }}" class="d-inline"> -->
<div>
		<button id="start_stop_btn" class="btn btn-primary btn-lg" type="button">Start</button>
</div>
<!-- </form> -->

<div class="card border-primary mt-3 w-50">
	<div class="card-body">
		Instructions:<br>
		<ol>
			<li>Press the Start Button</li>
			<li>Adjust Zoom to best fit your current alt/az error</li>
			<li>Adjust your alt/az on your wedge gradually<br>
				Wait for the dot to move between adjustments</li>
			<li>Once you're happy with the offset values, press the stop button</li>
		</ol>
	</div>
</div>
<script>

  var err_slider = document.getElementById("error_slider");
  var err_output = document.getElementById("error_range");
  err_output.innerHTML = err_slider.value*0.1;

  err_slider.oninput = function() {
    err_output.innerHTML = (this.value*0.1).toFixed(3);
  }

  const startStopButton = document.getElementById("start_stop_btn");
  const alt_err = document.getElementById("alt_err")
  const az_err = document.getElementById("az_err")
  const baseURL = `${window.location.protocol}//${window.location.hostname}${window.location.port ? ':' + window.location.port : ''}`;
  const get_pa_refine_URL = baseURL + '/pa_refine';

  startStopButton.textContent = "Start"
  var pa_interval

  function update_alignment(error_alt, error_az, max) {
    let x,y;
    var szElement = document.getElementById("pa_garden");
    const ball = document.getElementById("ball");
    const width = szElement.clientWidth;
    const height = szElement.clientHeight;
    if (error_az > max) {
      x = width
    }
    else if (error_az < -max) {
      x = 0
    }
    else {
      x = Math.round(width/2 * (1 + error_az / max))
    }
    if (error_alt > max) {
      y = 0
    }
    else if (error_alt < -max) {
      y = height
    }
    else {
      y = Math.round(height/2 * (1 - error_alt / max))
    }
    ball.style.top = `${y}px`
    ball.style.left = `${x}px`

    alt_err.textContent = `Alt Error (deg): ${error_alt.toFixed(3)}`
    az_err.textContent =  `Az  Error (deg): ${error_az.toFixed(3)}`
  }

  async function update_pa_error() {
    response = await fetch(get_pa_refine_URL, {
          method: "POST",
          body: JSON.stringify({
            action: "data"
          }),
          headers: {
            "Content-type": "application/json; charset=UTF-8"
          }
        })
        data = await response.json();
        update_alignment(data["error_alt"], data["error_az"], err_slider.value*0.1 );
  }

  async function startAlignment() {
    try {

      var response = await fetch(get_pa_refine_URL, {
        method: "POST",
        body: JSON.stringify({
          action: "start"
        }),
        headers: {
          "Content-type": "application/json; charset=UTF-8"
        }
      })
      data = await response.json();

      if (data["ok"]) {
        pa_interval = setInterval(update_pa_error, 1000);
        startStopButton.textContent = "Stop";
      }
      else {
        alert(data["error"])
      }

    } catch (error) {
      console.error('Error fetching data:', error);
      alert('Error fetching data:', error)
    }
  }

  async function stopAlignment() {
    try {

      var response = await fetch(get_pa_refine_URL, {
        method: "POST",
        body: JSON.stringify({
          action: "stop"
        }),
        headers: {
          "Content-type": "application/json; charset=UTF-8"
        }
      })
      var data = await response.json();
      startStopButton.textContent = "Start";
      clearInterval(pa_interval);

    } catch (error) {
      startStopButton.textContent = "Start";
      console.error('Error fetching data:', error);
      clearInterval(pa_interval);
      alert('Error fetching data:', error)
    }
  }

  function toggleStateAlignment(){

    if (startStopButton.textContent == "Start") {
      startAlignment();
    }
    else {
      stopAlignment();
    }
  }


  startStopButton.addEventListener("click", toggleStateAlignment);
</script>
