{% extends 'schedule_base.html' %}

{% block schedule_tab_content %}
  <div class="card border-primary mb-3">
    <div class="card-body">
      <!-- Checkbox Inputs -->
      <div class="col-sm-6">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="raise_arm" name="raise_arm" checked>
          <label class="form-check-label" for="raise_arm">Raise Arm</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="auto_focus" name="auto_focus" checked>
          <label class="form-check-label" for="auto_focus">AutoFocus</label>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="polar_align" name="polar_align" checked>
          <label class="form-check-label" for="polar_align">Polar Align</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="dark_frames" name="dark_frames" checked>
          <label class="form-check-label" for="dark_frames">Dark Frames</label>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
