{% extends 'base.html' %}

{% block header %}
	<div class="container mt-3">
		<p class="h1">{% block title %}Schedule Page{% endblock %} - {{ telescope["name"] }} ({{ telescope["ip_address"] }})</p>
	</div>
{% endblock %}

{% block content %}
	<div class="container mb-2">
		<p class="h3">Current Schedule</p>	
		{% include 'schedule_list.html' with context %}   
		<p>Schedule page. Pick an item to schedule, and Submit to add to the schedule.</p>
		{% include 'partials/schedule_tab_header.html' with context %}

		<div class="tab-content">
			<div class="tab-pane fade show active" role="tabpanel" aria-labelledby="auto-focus-tab">
				{% block schedule_tab_content %}{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}
