{% extends 'schedule_base.html' %}

{% block schedule_tab_content %}
    <form method="post" action="{{ root }}/schedule/park">
        <div class="card border-primary mb-3">
            <div class="card-body">
                <div class="mb-3">
                    <div id="shutdownHelp" class="form-text">Click Submit to add scope park to schedule.</div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
