<div class="mb-3">
    {% if online %}
        <div style="height: 45px;">
            <div hx-post="{{ root }}/schedule/state" hx-swap="outerHTML">
                <span class="me-3">State: {{ schedule['state'] }}</span>
                <span>
                    <button type="submit" class="btn btn-primary">
                        {% if schedule['state'] == "Stopped" %}Start{% else %}Stop{% endif %}
                    </button>
                </span>
            </div>
        </div>
    {% else %}
        <p>You are currently in offline mode</p>
        <span> {% include 'go_online.html' %}</span>
    {% endif %}

    <div class="container mt-3">
        <div class="row fw-bold border-bottom py-1 text-start">
            <div class="col-2">Action</div>
            <div class="col">Target</div>
            <div class="col-3">Coords</div>
            <div class="col">Panels</div>
            <div class="col">Overlap</div>
            <div class="col">J2000?</div>
            <div class="col">Total Exp</div>
            <div class="col">Gain</div>
            <div class="col">LP filter?</div>
            <div class="col">AutoFocus</div>
            {# <div class="col">Status</div>#}
        </div>
        {% for item in schedule.list %}
            <div class="row border-bottom py-2 text-start {% if schedule['current_item_id'] == item['id'] %}bg-primary{% endif %}">
                {% if item["action"] == 'wait_until' %}
                    <div class="col-2">Wait Until</div>
                    <div class="col">{{ item["params"]["local_time"] }}</div>
                {% elif item["action"] == 'wait_for' %}
                    <div class="col-2">Wait For</div>
                    <div class="col">{{ item["params"]["timer_sec"] }}s</div>
                {% elif item["action"] == 'auto_focus' %}
                    <div class="col-2">Auto Focus</div>
                    <div class="col">{{ item["params"]["try_count"] }}x</div>
                {% elif item["action"] == 'set_setting_exposures' %}
                    <div class="col-2">Set exposure ...</div>
                {% elif item["action"] == 'shutdown' %}
                    <div class="col-2">Shutdown</div>
                {% elif item["action"] == 'start_mosaic' %}
                    <div class="col-2">Start Mosaic</div>
                    <div class="col">{{ item["params"]["target_name"] }}</div>
                    <div class="col-3">{{ item["params"]["ra"] }} / {{ item["params"]["dec"] }}</div>
                    <div class="col">{{ item["params"]["ra_num"] }} / {{ item["params"]["dec_num"] }}</div>
                    <div class="col">{{ item["params"]["panel_overlap_percent"] }}</div>
                    <div class="col">{{ item["params"]["is_j2000"] }}</div>
                    <div class="col">{{ item["params"]["session_time_sec"] }}s</div>
                    <div class="col">{{ item["params"]["gain"] }}</div>
                    <div class="col">{{ item["params"]["is_use_lp_filter"] }}</div>
                    <div class="col">{{ item["params"]["is_use_autofocus"] }}</div>
                    {# <div class="col">{{ item["scheduler_status"] }}</div>#}
                {% else %}
                    <div class="col" colspan="10">Unrecognized schedule item: {{ item }}</div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
