<form method="post" action="/schedule/wait-for">
    <div class="card border-primary mb-3">
        <div class="card-body">
            <div class="mb-3">
                <label for="waitFor" class="form-label">Wait for</label>
                <input type="text" class="form-control" id="waitFor" name="waitFor"
                       aria-describedby="waitForHelp" required>
                <div id="waitForHelp" class="form-text">Specify the number of seconds to wait / pause the schedule.</div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
