{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Stats{% endblock %}</h1>
{% endblock %}

{% block content %}
	{% if online %}
		<p>Stats</p>
		<table class="table table-striped">
			<tbody>
			{% for key, value in stats.items() %}
				<tr>
					<th class="col">{{ key }}</th>
					<td>{{ value }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>You are in offline mode.  Go online to see stats</p>
	{% endif %}
	<footer class="bg-body-tertiary text-center">
			Last updated: {{ now }}
	</footer>
{% endblock %}

{% block html_header %}
    <meta http-equiv="refresh" content="15">
{% endblock %}