{% extends 'base.html' %}

{% block header %}
    <div class="container mt-3">
		<p class="h1">{% block title %}Stats{% endblock %}</p>
	</div>
{% endblock %}

{% block content %}

	{% if online %}	
		<div class="container mt-3">
		
			{% for key, value in stats.items() %}
				<div class="row border-bottom py-1">
					<div class="col fw-bold"><p>{{ key }}</p></div>
					<div class="col"><p class="text-end">{{ value }}</p></div>
				</div>
			{% endfor %}
			
		</div>
	{% else %}
		<div class="container mt-3">
			<p>You are currently in offline mode</p>
			<span> {% include 'go_online.html' %}</span>
		</div>
	{% endif %}

	<footer class="bg-body-tertiary text-center mt-3">
			Last updated: {{ now }}
	</footer>
	
{% endblock %}

{% block html_header %}
    <meta http-equiv="refresh" content="15">
{% endblock %}